Does not scan (valid?) TOTP secrets with odd number of 4 character groups in BASE32 coded secret

**Problem**

Try to scan this QR-Code (generated by https://app.syspectr.com/):

![totp](https://user-images.githubusercontent.com/60742141/87583611-88e47600-c6dc-11ea-9873-9ca88abec7c6.png)

andOTP says "invalid QR-Code"
Google Autheticator says so as well.

**Expected behaviour**

Should be scanned correctly as Microsoft Authenticator and Yubico Autheticator both do

**Explanation**

The QR-Code URI is

otpauth://totp/sombody@somewhere.com?secret=KJ6D6EKD2A3G77B3C4EC&issuer=syspectr

The BASE32 encoded secret "KJ6D6EKD2A3G77B3C4EC" contains an odd number (5) of 4-character groups.
This is an invalid BASE32 encoding, correct would be the one with padding "KJ6D6EKD2A3G77B3C4EC====" (assuming a 12 byte key).

The [Google Authenticator spec](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret) says

"The padding specified in RFC 3548 section 2.2 is not required and should be omitted"

Google Authenticator does not seem to follow it's own spec here.
Maybe andOTP should be more "tolerant" and supply the necessary padding to the BASE32 decoding function :)

I openend a support case with syspectr on this. 
They essentially say, they dont care, as Microsoft Authenticator scans the QR-Code "correctly"

I have to correct myself:
Just scanned the QR-Code with Google-Autheticator on Android, it *does* scan correctly.
My collegue scanned on his iPhone and say's it does not.

I'd wait until Apache Commons Codec 1.15 is released. It comes with the possibility of _Base32/64 to allow optional strict/lenient decoding_. See their bug tracker for more details: https://issues.apache.org/jira/browse/CODEC-280 It's already implemented and in the master branch.

I updated Apache Commons Codec to 1.15 in 12d81e21355debab1a837afabbf6005f11174a03, now it decodes the secret in the QR code correctly.